.product-card {
  transition: all 0.3s ease;
  border-radius: 12px;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card-title {
  font-size: 14px;
  font-weight: 600;
}

/* category css */

.category-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;

}
.category-btn {
  white-space: nowrap;
  padding: 8px 15px;
  border: 1px solid rgb(231, 18, 174);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
}

.category-btn:hover {
  background-color: rgb(231, 18, 174);
  color: white;

}

.light-navbar {
  background-color: rgb(251, 219, 245);
}
.light-sidebar{
  background-color: rgb(251, 219, 245);
}
.light-btn{
  background-color: rgb(231, 18, 174) !important;
  color: white !important;
}
.icon-light {
  color: rgb(231, 18, 174);  /* pink */
}

.icon-dark {
  color: white;
}